*{
    font-family: Arial, Helvetica, sans-serif ;
    color: aliceblue;
}

body{
    background-color: rgb(48, 48, 48);
}

.grid {
    /*display: grid;
    place-items: center;
  
    height: 100px;
    width: 200px;*/

     text-align: center;
     position: relative;
  
}